# Set the keys necessary in accordance with you .ww configuration file.
# For example, if you have a .ww file that requires an OpenAI key, you would set it here.

### .ww Configuration Example
# mem = memory short_term {}

# language_model = llm openai {
#     model: "gpt-4o-mini"
#     memory: mem
#     api_key: $OPENAI_API_KEY
# }

# in = input command_line {
#     to: language_model
# }
###

# The `api_key` field name following the `$` prefix indicates that the value should be set in this .env file.
# The name of the `api_key` field should match the key in your .ww configuration file.

# OpenAI Key
OPENAI_API_KEY = "your-openai-key"
